body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("images/cover2.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: rgb(196, 237, 255);
}
.header {
  text-align: right;
}
.header a {
  /*background: linear-gradient(
    90deg,
    rgb(169, 227, 245) 20%,
    rgb(202, 228, 234) 60%
  );*/

  text-decoration: none;
  color: rgb(196, 237, 255);
  margin: 0 20px;
  padding: 2px 2px;
  font-size: 22px;
  cursor: pointer;
}

.intro {
  text-align: right;
  /*margin: 16%;*/
  margin-left: 55.5%;
  margin-top: 15%;
  /*border: 2px solid rgb(196, 237, 255, 0);*/
  backdrop-filter: blur(7px);
  width: 30%;
  border-radius: 18px;
}
.intro .hi {
  font-size: 40px;
  margin-right: 50%;
}
.intro p {
  font-size: 50px;
  margin-top: 25px;
  margin-bottom: 0;
}
.intro .dev {
  font-size: 28px;
  margin-top: 0;
  margin-right: 16%;
}
.resume {
  text-align: right;
}
.resume a {
  margin-top: 0;
}
.footer {
  height: 42.9vh;
}
